[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=4.1.1"
psycopg2-binary = "~=2.9.5"
Pillow = "~=9.3.0"
django-debug-toolbar = "~=3.8.1"
django-crispy-forms = "~=1.14.0"
requests = "~=2.28.1"
pydantic = "~=1.10.2"
djangorestframework = "~=3.14.0"
dj-rest-auth = "~=2.1.11"
django-allauth = "~=0.48.0"
djangorestframework-simplejwt = "~=5.2.2"
django-rest-authemail = "~=2.1.4"


[dev-packages]
flake8 = "~=6.0.0"
black = "~=22.12.0"
isort = "~=5.11.4"
autopep8 = "*"
ipdb = "*"

[requires]
python_version = "3.10"
